#cvss_div {
    display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: center;
}

#cvss_score {
    margin-left: 5px;
}

main {
    display: flex;
    justify-content: space-between;
}

main section {
    width: 50%;
}

.select_row select {
    width: 70%;
}

.select_row p {
    font-weight: bold;
}

h1 {
    text-align: center;
}

.fstec h1 {
    margin-bottom: 50px;
}

.fstec h2 {
    background-color: #666666;
    color: #ffffff;
    margin: 0;
    width: 100%;
    padding: 6px 0px;
    text-indent: 1em;
    font-size: 16px;
    font-weight: normal;
}

.wrapper {
    background-color: #f2f2f2;
    border: 0;
    padding: 10px 20px;
}

.select-wrapper {
    margin: 10px 0;
}

.p_result {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

table {
    border: 1px solid #ccc;
    border-spacing: 3px;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 1px solid #ccc;
    border-spacing: 3px;
    padding: 5px 10px;
}

.result_div {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

#level {
    margin-left: 10px;
}

.critical {
    color: blueviolet;
}

.high {
    color: red;
}

.middle {
    color: #f9a009;
}

.low {
    color: green;
}